--
-- PostgreSQL database dump
--

\restrict dyrFCfQRna10RnpPlRbzlYg0Jm52gTAcpPft6uUCJ2pInMzOepfijITc9RrHmv8

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: activity_action; Type: TYPE; Schema: public; Owner: visioncore
--

CREATE TYPE public.activity_action AS ENUM (
    'login',
    'upload',
    'extract',
    'edit',
    'download',
    'duplicate_blocked',
    'user_created',
    'user_updated',
    'password_reset'
);


ALTER TYPE public.activity_action OWNER TO visioncore;

--
-- Name: batch_status; Type: TYPE; Schema: public; Owner: visioncore
--

CREATE TYPE public.batch_status AS ENUM (
    'uploaded',
    'processing',
    'completed',
    'failed',
    'partial'
);


ALTER TYPE public.batch_status OWNER TO visioncore;

--
-- Name: item_status; Type: TYPE; Schema: public; Owner: visioncore
--

CREATE TYPE public.item_status AS ENUM (
    'uploaded',
    'extracting',
    'processing',
    'completed',
    'failed',
    'duplicate'
);


ALTER TYPE public.item_status OWNER TO visioncore;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: visioncore
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'user'
);


ALTER TYPE public.user_role OWNER TO visioncore;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.activities (
    id integer NOT NULL,
    user_id integer,
    action public.activity_action NOT NULL,
    tag_number character varying(128),
    description character varying(255),
    detail character varying(512),
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.activities OWNER TO visioncore;

--
-- Name: activities_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.activities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_id_seq OWNER TO visioncore;

--
-- Name: activities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.activities_id_seq OWNED BY public.activities.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO visioncore;

--
-- Name: api_usage; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.api_usage (
    id integer NOT NULL,
    user_id integer,
    tag_number character varying(128),
    model character varying(64) NOT NULL,
    input_tokens integer DEFAULT 0 NOT NULL,
    output_tokens integer DEFAULT 0 NOT NULL,
    cost_usd double precision DEFAULT '0'::double precision NOT NULL,
    latency_ms integer DEFAULT 0 NOT NULL,
    success boolean DEFAULT true NOT NULL,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.api_usage OWNER TO visioncore;

--
-- Name: api_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.api_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_usage_id_seq OWNER TO visioncore;

--
-- Name: api_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.api_usage_id_seq OWNED BY public.api_usage.id;


--
-- Name: asset_tags; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.asset_tags (
    id integer NOT NULL,
    tag_number character varying(128) NOT NULL,
    description character varying(255) NOT NULL,
    ai_payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    final_payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    ai_excel_path character varying(512),
    template_excel_path character varying(512),
    edited_by_id integer,
    created_by_id integer,
    revision integer DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.asset_tags OWNER TO visioncore;

--
-- Name: asset_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.asset_tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asset_tags_id_seq OWNER TO visioncore;

--
-- Name: asset_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.asset_tags_id_seq OWNED BY public.asset_tags.id;


--
-- Name: batch_items; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.batch_items (
    id integer NOT NULL,
    batch_id integer NOT NULL,
    asset_tag_id integer,
    tag_number character varying(128) NOT NULL,
    description character varying(255) NOT NULL,
    status public.item_status DEFAULT 'uploaded'::public.item_status NOT NULL,
    error_message text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.batch_items OWNER TO visioncore;

--
-- Name: batch_items_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.batch_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.batch_items_id_seq OWNER TO visioncore;

--
-- Name: batch_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.batch_items_id_seq OWNED BY public.batch_items.id;


--
-- Name: batches; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.batches (
    id integer NOT NULL,
    reference character varying(32) NOT NULL,
    user_id integer NOT NULL,
    status public.batch_status DEFAULT 'uploaded'::public.batch_status NOT NULL,
    total_images integer DEFAULT 0 NOT NULL,
    total_tags integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.batches OWNER TO visioncore;

--
-- Name: batches_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.batches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.batches_id_seq OWNER TO visioncore;

--
-- Name: batches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.batches_id_seq OWNED BY public.batches.id;


--
-- Name: org_credits; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.org_credits (
    id integer NOT NULL,
    total_purchased_usd double precision NOT NULL,
    updated_by_user_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    ledger_usage_usd double precision NOT NULL,
    ledger_through_date date
);


ALTER TABLE public.org_credits OWNER TO visioncore;

--
-- Name: org_credits_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.org_credits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.org_credits_id_seq OWNER TO visioncore;

--
-- Name: org_credits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.org_credits_id_seq OWNED BY public.org_credits.id;


--
-- Name: tag_images; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.tag_images (
    id integer NOT NULL,
    item_id integer NOT NULL,
    original_filename character varying(512) NOT NULL,
    stored_path character varying(512) NOT NULL,
    media_type character varying(64) NOT NULL,
    size_bytes integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    content_hash character varying(64)
);


ALTER TABLE public.tag_images OWNER TO visioncore;

--
-- Name: tag_images_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.tag_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tag_images_id_seq OWNER TO visioncore;

--
-- Name: tag_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.tag_images_id_seq OWNED BY public.tag_images.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: visioncore
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(64) NOT NULL,
    email character varying(255),
    full_name character varying(128),
    hashed_password character varying(255) NOT NULL,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO visioncore;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: visioncore
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO visioncore;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: visioncore
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activities id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.activities ALTER COLUMN id SET DEFAULT nextval('public.activities_id_seq'::regclass);


--
-- Name: api_usage id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.api_usage ALTER COLUMN id SET DEFAULT nextval('public.api_usage_id_seq'::regclass);


--
-- Name: asset_tags id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.asset_tags ALTER COLUMN id SET DEFAULT nextval('public.asset_tags_id_seq'::regclass);


--
-- Name: batch_items id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batch_items ALTER COLUMN id SET DEFAULT nextval('public.batch_items_id_seq'::regclass);


--
-- Name: batches id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batches ALTER COLUMN id SET DEFAULT nextval('public.batches_id_seq'::regclass);


--
-- Name: org_credits id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.org_credits ALTER COLUMN id SET DEFAULT nextval('public.org_credits_id_seq'::regclass);


--
-- Name: tag_images id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.tag_images ALTER COLUMN id SET DEFAULT nextval('public.tag_images_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: visioncore
--

COPY public.alembic_version (version_num) FROM stdin;
0004
\.


--
-- Data for Name: api_usage; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: asset_tags; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: batch_items; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: batches; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: org_credits; Type: TABLE DATA; Schema: public; Owner: visioncore
--

COPY public.org_credits (id, total_purchased_usd, updated_by_user_id, created_at, updated_at, ledger_usage_usd, ledger_through_date) FROM stdin;
1	20.01	1	2026-08-20 07:34:17.621648+00	2026-08-27 04:48:51.937381+00	1.1296	2026-08-26
\.


--
-- Data for Name: tag_images; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: visioncore
--



--
-- Name: activities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.activities_id_seq', 505, true);


--
-- Name: api_usage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.api_usage_id_seq', 99, true);


--
-- Name: asset_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.asset_tags_id_seq', 77, true);


--
-- Name: batch_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.batch_items_id_seq', 155, true);


--
-- Name: batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.batches_id_seq', 97, true);


--
-- Name: org_credits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.org_credits_id_seq', 1, false);


--
-- Name: tag_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.tag_images_id_seq', 183, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: visioncore
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: api_usage api_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.api_usage
    ADD CONSTRAINT api_usage_pkey PRIMARY KEY (id);


--
-- Name: asset_tags asset_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT asset_tags_pkey PRIMARY KEY (id);


--
-- Name: batch_items batch_items_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT batch_items_pkey PRIMARY KEY (id);


--
-- Name: batches batches_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_pkey PRIMARY KEY (id);


--
-- Name: org_credits org_credits_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.org_credits
    ADD CONSTRAINT org_credits_pkey PRIMARY KEY (id);


--
-- Name: tag_images tag_images_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.tag_images
    ADD CONSTRAINT tag_images_pkey PRIMARY KEY (id);


--
-- Name: asset_tags uq_asset_tags_tag_number; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT uq_asset_tags_tag_number UNIQUE (tag_number);


--
-- Name: batch_items uq_batch_tag; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT uq_batch_tag UNIQUE (batch_id, tag_number);


--
-- Name: batches uq_batches_reference; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT uq_batches_reference UNIQUE (reference);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: users uq_users_username; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_activities_action; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_activities_action ON public.activities USING btree (action);


--
-- Name: ix_activities_created_at; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_activities_created_at ON public.activities USING btree (created_at DESC);


--
-- Name: ix_activities_tag_number; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_activities_tag_number ON public.activities USING btree (tag_number);


--
-- Name: ix_activities_user_id; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_activities_user_id ON public.activities USING btree (user_id);


--
-- Name: ix_api_usage_created_at; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_api_usage_created_at ON public.api_usage USING btree (created_at);


--
-- Name: ix_api_usage_tag_number; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_api_usage_tag_number ON public.api_usage USING btree (tag_number);


--
-- Name: ix_api_usage_user_id; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_api_usage_user_id ON public.api_usage USING btree (user_id);


--
-- Name: ix_asset_tags_tag_number; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_asset_tags_tag_number ON public.asset_tags USING btree (tag_number);


--
-- Name: ix_batch_items_batch_id; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_batch_items_batch_id ON public.batch_items USING btree (batch_id);


--
-- Name: ix_batch_items_tag_number; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_batch_items_tag_number ON public.batch_items USING btree (tag_number);


--
-- Name: ix_batches_reference; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_batches_reference ON public.batches USING btree (reference);


--
-- Name: ix_batches_user_id; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_batches_user_id ON public.batches USING btree (user_id);


--
-- Name: ix_tag_images_content_hash; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_tag_images_content_hash ON public.tag_images USING btree (content_hash);


--
-- Name: ix_tag_images_item_id; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_tag_images_item_id ON public.tag_images USING btree (item_id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: visioncore
--

CREATE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: activities activities_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: api_usage api_usage_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.api_usage
    ADD CONSTRAINT api_usage_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: asset_tags asset_tags_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT asset_tags_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: asset_tags asset_tags_edited_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT asset_tags_edited_by_id_fkey FOREIGN KEY (edited_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: batch_items batch_items_asset_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT batch_items_asset_tag_id_fkey FOREIGN KEY (asset_tag_id) REFERENCES public.asset_tags(id) ON DELETE SET NULL;


--
-- Name: batch_items batch_items_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batch_items
    ADD CONSTRAINT batch_items_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batches(id) ON DELETE CASCADE;


--
-- Name: batches batches_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: org_credits org_credits_updated_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.org_credits
    ADD CONSTRAINT org_credits_updated_by_user_id_fkey FOREIGN KEY (updated_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tag_images tag_images_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: visioncore
--

ALTER TABLE ONLY public.tag_images
    ADD CONSTRAINT tag_images_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.batch_items(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dyrFCfQRna10RnpPlRbzlYg0Jm52gTAcpPft6uUCJ2pInMzOepfijITc9RrHmv8

